.container {
    position: relative;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--white-main);

    border-radius: 24px;
}

.rightSide {
    width: 100%;
}

.description {
    font-size: 14px;
    line-height: 125%;
    color: var(--grey-text);
    margin-bottom: 10px;
}

.buttonsList {
    display: flex;
    justify-content: space-between;
}

button.appointment {
    padding: 14px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: -0.01em;
}

.modal {
    background-color: var(--white-main);
    border-radius: 30px;
    width: 100%;
    max-width: 85vw;
    padding: 48px 16px 16px 16px;
    /* overflow: auto; */
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        padding: 20px;
        gap: 20px;
    }

    .modal {
        max-width: 599px;
        padding: 48px 32px 32px 32px;
    }

    .description {
        font-size: 16px;
        margin-bottom: 14px;
    }

    button.appointment {
        padding: 14px 28px;
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 20px;
        gap: 20px;
    }

    .modal {
        padding: 48px 32px 32px 32px;
    }
}

@media (min-width: 1440px) {
    .container {
        padding: 24px;
        gap: 24px;
    }

    .modal {
        padding: 64px;
    }
}
