.time-select-container {
    background: transparent;
    /* width: 232px; */
    width: 100%;
    height: 36px;
}

.time-select-container .time-select__control {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid var(--grey-modal-border);
    border-radius: 12px;
    padding: 10px 10px;
    font-size: 14px;
    line-height: 125%;
    color: var(--black-main);
    outline: none;

    transition: border-color var(--duration) var(--time-function);
}

.time-select-container .time-select__control:hover,
.time-select-container .time-select__control:focus {
    border-color: var(--theme-main);
}

.time-select-container .time-select__control--is-focused {
    box-shadow: none;
    border-color: var(--theme-main);
    transition: border-color var(--duration) var(--time-function);
}

.time-select-container .time-select__control--is-focused:hover {
    border-color: var(--theme-main);
}

.time-select__control .time-select__dropdown-indicator {
    padding: 0;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    fill: none;
    stroke: var(--black-main);
    transition: transform var(--duration) var(--time-function);
}

.time-select__control--menu-is-open .time-select__dropdown-indicator {
    transform: scale(1.1);
}

.time-select__control .time-select__value-container {
    padding: 0;
    margin: 0;
}

.time-select__control .time-select__single-value {
    margin: 0;
    font-size: 14px;
    line-height: 125%;
    color: var(--black-main);
}

.time-select__control .time-select__input-container {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 125%;
    color: var(--black-main);
}

.time-select__control .time-select__indicator-separator {
    display: none;
}

.time-select-container .time-select__menu {
    margin-top: 8px;
    width: max-content;
    margin-left: 0px;
    padding: 10px;

    border-radius: 12px;
    fill: #fff;
    box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
}

.time-select-container .time-select__menu-list {
    padding: 0;
}

.time-select__menu-list .time-select__option {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: var(--grey-modal);
    margin-bottom: 4px;
    padding: 2px;
    border-radius: 12px;
}

.time-select__menu-list .time-select__option--is-selected {
    color: var(--black-main);
    background-color: transparent;
}

.time-select__menu-list .time-select__option--is-focused {
    background-color: var(--theme-light);
}

.time-select__menu-list .time-select__group-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--black-main);
    text-transform: none;
    padding: 0;
    margin-bottom: 16px;
}

.time-select__menu-list .time-select__group {
    padding: 0;
}

@media (min-width: 768px) {
    .time-select-container {
        height: 48px;
    }

    .time-select-container .time-select__control {
        padding: 14px 18px;
        font-size: 16px;
    }

    .time-select__control .time-select__input-container {
        font-size: 16px;
    }

    .time-select__control .time-select__single-value {
        font-size: 16px;
    }

    .time-select-container .time-select__menu {
        margin-top: 8px;
        width: 150px;
        margin-left: 82px;
        padding: 16px;
    }
}
@media (min-width: 1024px) {
    .time-select-container {
        height: 48px;
    }

    .time-select-container .time-select__control {
        padding: 14px 18px;
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    .time-select-container {
        height: 52px;
    }

    .time-select-container .time-select__control {
        padding: 16px 18px;
        font-size: 16px;
    }
}
