.button {
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--black-main);
}

@media (min-width: 768px) {
    .button {
        font-size: 14px;
    }
}
@media (min-width: 1024px) {
    .button {
        font-size: 14px;
    }
}

@media (min-width: 1440px) {
    .button {
        font-size: 16px;
    }
}
